<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add new <%=title%></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
              <h2><a href="/add">BACK</a></h2><br>
                <h2>Add new <%=title%></h2>
                <form method="POST" action="/addproduct" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" class="form-control" placeholder="Enter name" name="name">
                    </div>
                    <div class="form-group">
                        <label>Meta name:</label>
                        <input type="text"  name="meta_name">
                    </div>
                    <div class="form-group">
                      <label>Category:</label>
                      <select class="" name="category">
                        <%if(dataCategory.length > 0){dataCategory.forEach((category,index)=>{%>
                          <option value="<%=category.name%>"><%=category.name%></option>
                        <%})}%>
                      </select>
                    </div>
                    <div class="form-group">
                        <label>Link:</label>
                        <input type="file"  name="link">
                    </div>
                    <div class="form-group">
                        <label>Status:</label>
                        <input type="number" min="0" max="2" name="status" value="0">
                    </div>
                    <div class="form-group">
                        <label>Price:</label>
                        <input type="number" min="0" name="price" value="0">
                    </div>
                    <div class="form-group">
                        <label>Discount:</label>
                        <input type="number" min="0" name="discount" value="0">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
