<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add new <%=title%></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
      <div class="row justify-content-center">
          <div class="col-3">
            <a href="addpublisher">ADD PUBLISHER</a>
          </div>
          <div class="col-3">
            <a href="addcategory">ADD CATEGORY</a>
          </div>
          <div class="col-3">
            <a href="addproduct">ADD PRODUCT</a>
          </div>
          <div class="col-3">
            <a href="addslider">ADD Slider</a>
          </div>
      </div>
        <div class="row justify-content-center">
            <div class="col-6">
                <h2>Add new <%=title%></h2>
                <form method="POST" action="/addproduct" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Link:</label>
                        <input type="file"  name="link">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
